extends layout

block content
	.container
		.jumbotron
			h1= title
			p.text-info A new age has started, give-me a music, and i will tell who you are
		a(href="/join").btn.btn-primary.btn-block Join
		a(href="/join-spotify").btn.btn-success.btn-block Join using spotify
		
